data/app.db
data/app.db-wal
data/app.db-shm
data/app.db-journal
# Ambiente virtual
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Variáveis de ambiente
.env

# Arquivos gerados
data/exports/*.xlsx


# Exports gerados automaticamente
data/exports/
data/browser_profile/
data/selenium_cache/
data/ml/
data/cookies_copy.db
data/*.db-shm
data/*.db-wal
chrome/
chromedriver/
